

body{
    margin: 0px;
    width: 100%;
}

.dflex{
    display: flex;
}
.c-left{
    clear: both;
}
.navbar{
    width:100%;
    background-color:grey;
    display: flex;
   justify-content: space-around;
}

.navbar a{
    float: none;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin: 0px;
}

.navbar a:hover{
    background-color: #000;
}
.navbar a:active{
    background-color:#4CAF50;
}


header{
    width: 100%;
    height: auto;
    
}
header img{
    max-width: 100%;
    height: auto;
}
header p{
    font-size: 7vh;
}
.grid{
    display: flex;
    margin: 0px;
}
.grid .col2{
    width: 50vw;
}
.bg-gray{
    background-color: gray;
}
.bg-light{
    background-color: lightgray;
}
.font-white{
    color: white;
}

.row40{
    min-height: 10em;
}
.centralizar{
    float: none;
    text-align: center;
   
    padding: 0em;
}

.text-justify{
    text-align: justify;
}
.text-big{
    font-size: 25px;
}
.text-margin{
    padding-left: 8vh;
    padding-right: 8vh;
}
.img-circle{
    border-radius:50% ;
}
.img-cliente{
    border-radius: 20%;
    margin: 2em;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-social{
    display: block;
    text-align: center;
}
.img-padding{
    padding-left: 5vh;
    padding-right: 5vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.link-border{
    padding: 5px;
    border-radius: 5px;
    background-color: gray;
}
.link-padding{
    padding-top: 5vh;
    padding-bottom: 5vh;
}


@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }